/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main-header {
    background: url("../img/bg_header.png") right bottom no-repeat;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
#main-header h1 {
    float: left;
	font-family: "aviano-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size:30px;
	max-width: 530px;
	line-height:32px;
	
}
#main-header h1 span{
    float: left;
	font-family: "aviano-sans",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:40px;
	

}
#main-header h1 img{
    float: left;
	padding-right:20px;
}


.candidate img {
    width: 100px;
    height: 125px;
    float: left;
	border: 1px solid #e5e5e5;
}
.candidate .bio {
    float: left;
    margin-left: 10px;
}
.candidate-upper {
    margin-bottom: 10px;
}
.race {
    margin-bottom: 50px;
	background: url("../img/line.png") repeat-y top left;

}

.race h5{
	font-family: "aviano-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	padding-top: 30px;
}

h3.head{
	font-family: "aviano-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	color:#93b3ba;
	padding-top: 10px;
	padding-bottom: 0;
}

#main h2{
	font-family: georgia, serif;
	font-weight: normal;
	font-style:italic;
	text-transform: capitalize;
	font-size: 170%;
}

.endorsements ul, .endorsements ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
	padding-bottom: 10px;
}
.endorsements ul li {
    margin-bottom: 5px;
}
.endorsements .rating {
    display: block;
    float: left;
    font-size: 70%;
    color: #eeeeee;
    background: #444444;
    padding: 4px;
    width: 18px;
    text-align: center;
    margin-right: 8px;
    margin-top: -3px;
    border-radius: 3px;
}
.endorsements .green {
    background: #75987C;
}
.endorsements .yellow {
    background: #A79963;
}
.endorsements .red {
    background: #9A5B55;
}

.campaign-finance strong, .industries strong{
	padding-bottom: 30px;
}

.industries ul{
	list-style: none;
	margin-left:0;
}

.industries li{
	padding-top:7px;
	}
	
.form-search {
    float: right;
    margin-top: 25px;
    margin-bottom: 5px;
}
.form-search.loading {
    background: url("/img/loading_sm.gif") no-repeat scroll 40px 10px transparent;
}
.form-search li {
    float: left;
    display: block;
    clear: none;
    margin-left: 10px;
    margin-bottom: 5px;
}
.form-search input {
    width: 250px;
	border: 5px solid #93b3ba;
}
.form-search button {
	border: 5px solid #93b3ba;
	background: #FFF url("../img/search.png") no-repeat;
	height: 35px;
	width: 35px;
}
.form-search button:hover{
	background: #e5e5e5 url("../img/search.png") no-repeat;
}

a{
	color:#87aeb6;
}

a, a:active, a:visited {
    color: #87aeb6;}

.sf-footer a{
	color:#C9A706;
}




.about {
	width: 600px;
	float: left;
	margin-left: 40px;	
}

.homeraces {
	width: 280px;
	float:left;
}


.about h3, .bio h4 {
	font-style: italic;
	font-size:21px;
	line-height:36px;
	font-weight:normal;
}


.bio h4 {
	text-transform: capitalize;
}

.about p {
	font-size:16px;
	line-height:25px;
	font-weight:normal;
	padding-top:20px;
	
}

.about li {
	padding-bottom:7px;
	
}

.homeraces li {
	padding-bottom:7px;
}



.homeraces ul {
	list-style: none;
	margin-left:0;
}

.homeraces h5, .about h5 {
	font-family: "aviano-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	color:#e1786d;
	
}

.about h5 {
	padding-top:20px;
	
}

.homeraces h6 {
	font-family: georgia, serif;
	font-weight:normal;
	font-style:italic;
	color:#635F5C;
	padding-top:10px;
}

.senate {
	width: 150px;
	float: left;
}

.house {
	width: 100px;
	float: left;
}

button.btn-sunlight {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #CE6100;
    background-image: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.098) rgba(0, 0, 0, 0.098) rgba(0, 0, 0, 0.247);
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FDFCFB;
    cursor: pointer;
    display: inline-block;
    font-family: "Georgia","Times New Roman","Times",serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: -8px;
    padding: 4px 15px;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 1px 1px rgba(186, 83, 0, 0.75);
    vertical-align: middle;
}

button.btn-sunlight:hover {
	background-color: #B95700;
	background-image: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
