<% if (abbreviated) { %>

<div class="candidate-upper">
    <img src="<%=(photo_filename ? "/thumbs/" + chamber + "_images_ac/" + state + (chamber === "house" ? "-" + district : "") + "/" + photo_filename : "")%>" />
    <div class="bio">
        <h4><%=name%></h4>
        <div class="party"><%=({'D':'Democrat','R':'Republican','I':'Independent'}[party])%></div>
    </div>
    <div class="clear"></div>
</div>
<div class="sadness">
    We were't able to find endorsement or campaign finance information about this candidate.  To learn more about them, <a href="<%=ballotpedia_url%>">Ballotpedia profile</a>.
</div>

<% } else { %>

<div class="candidate-upper">
    <img src="<%=bioguide_id ? photo_url : (photo_filename ? "/thumbs/" + chamber + "_images_ac/" + state + (chamber === "house" ? "-" + district : "") + "/" + photo_filename : "")%>" />
    <div class="bio">
        <h4><%=name%></h4>
        <div class="party"><%=({'D':'Democrat','R':'Republican','I':'Independent'}[party])%></div>
        <div class="status"><%=(incumbent ? "Incumbent" : "Challenger")%></div>
    </div>
    <div class="clear"></div>
</div>
<div class="endorsements">
    <h5>Ratings &amp; Endorsements</h5>
    <ul>
        <% _.each(endorsements, function(endorsement) { %>
        <li>
            <span class="rating <%=colorOf(endorsement)%>"><strong><%=endorsement.value%></strong></span>
            <span class="organization"><%=endorsement.name%></span>
            <div class="clear"></div>
        </li>
        <% }) %>
    </ul>
</div>
<div class="campaign-finance">
    <h5>Campaign Contributions</h5>
    <strong >Total Raised:</strong> $<%=formatDollars(fec_summary.total_raised)%><br><br>

    <% if (industries.length) { %>
    <div class="industries">
        <strong>Top Industry Contributors:</strong>
        <ul>
            <% _.each(industries.slice(0,5), function(industry) { %>
            <li><%=industry.name%>: $<%=formatDollars(industry.amount)%></li>
            <% }); %>
        </ul>
        
    </div>
    <% } %>
</div>

<% } %>