<h2><%=house[0].state_name%> <%=house[0].district%>th congressional district </h2>

<% if (house) { %>
	<h3 class="head">House</h3>
<div class="race race-house">
    <% _.each(house, function(candidate, idx) { console.log('a', idx); %>
    <div class="candidate span5">
        <%=candidateTemplate(candidate)%>
    </div>
    <% if (idx > 0 && idx % 2 == 1) { %>
    <div class="clear"></div>
    <% } %>
    <% }); %>
</div>
<% } %>

<% if (senate) { %>
	<h3 class="head">Senate</h3>
<div class="race race-senate">
    <% _.each(senate, function(candidate, idx) { %>
    <div class="candidate span5">
        <%=candidateTemplate(candidate)%>
    </div>
    <% if (idx > 0 && idx % 2 == 1) { %>
    <div class="clear"></div>
    <% } %>
    <% }); %>
</div>
<% } %>