<h2><%=house[0].state_name%> <%=house[0].district%>th congressional district </h2>

<% if (house) { %>
<div class="race race-house">
    <h3>House</h3>
    <% _.each(house, function(candidate) { %>
    <div class="candidate span5">
        <%=candidateTemplate(candidate)%>
    </div>
    <% }); %>
    <div class="clear"></div>
</div>
<% } %>

<% if (senate) { %>
<div class="race race-senate">
    <h3>Senate</h3>
    <% _.each(senate, function(candidate) { %>
    <div class="candidate span5">
        <%=candidateTemplate(candidate)%>
    </div>
    <% }); %>
    <div class="clear"></div>
</div>
<% } %>