<div class="homeraces">
	<h5>Competitive Races</h5>
	<p>Competitive races were determined using the Cook Political Report&lsquo;s list of races deemed tossups.</p> 
	<div class="senate">
		<h6>Senate</h6>
		<ul>
			<li><a href="#">Arizona</a></li>
			<li><a href="#">Connecticut</a></li>
			<li><a href="#">Indiana</a></li>
			<li><a href="#">Maine</a></li>
			<li><a href="#">Massachusetts</a></li>
			<li><a href="#">Montana</a></li>
			<li><a href="#">Nevada</a></li>
			<li><a href="#">North Dakota</a></li>
			<li><a href="#">Virginia</a></li>
			<li><a href="#">Wisconsin</a></li>
		</ul>
	</div>
	
	<div class="house">
		<h6>House</h6>
		<ul>
			<li><a href="#">CA-09</a></li>
			<li><a href="#">GA-12</a></li>
			<li><a href="#">NY-18</a></li>
			<li><a href="#">CA-07</a></li>
			<li><a href="#">PA-12</a></li>
		</ul>
	</div>
</div>

<div class="about">
	<h3>Sunlight&lsquo;s Candidate Review is your at-a-glance source for information about candidates running for office in your area. Find out who's contributed the most to support and oppose candidates for president and Congress and who is backing their campaigns.</h3>

	<h5>What we’re providing:</h5>
	<ul>
		<li>How much money a candidate has collected</li>
		<li>What industries are giving the most</li>
		<li>What outside groups are spending the most to aid&mdash;or torpedo&mdash;a candidate</li>
		<li>Political endorsements and ratings from a variety of interest groups</li>
	</ul>

	<p>The campaign finance information comes from Sunlight&lsquo;s <a href="http://data.influenceexplorer.com/api">Influence Explorer API</a>, which aggregates from the Center for Responsive Politics and the Federal Election Commission. Endorsement and ratings information is provided by a dedicated team of Sunlight Foundation researchers.</p>

</div>

